<h3>{{announcement.title}}</h3>
  <h5>Type: {{announcement.type}}</h5>
  <h5>Priority: {{announcement.priority}}</h5>
  <h6>{{announcement.message}}</h6>
<button class="btn btn-danger" {{action 'delete' announcement}}>Delete</button>
<br>
