<h4>Location: {{fullLocation}}</h4>

<h5>Rentals available in {{city.name}}</h5>
{{sorting-options sendCost="costSort" sendBedrooms="bedroomsSort"}}
<ul>
  {{#each sortedRentals as |rental|}}
    <li>{{rental.owner}}'s {{rental.type}}</li>
    <li>{{rental-cost rental}}</li>
    <li># of bedrooms: {{rental.bedrooms}}</li>
    <li><img src="{{rental.image}}" alt="" /></li>
  {{/each}}
</ul>
<button class="btn btn-danger btn-lg"{{action 'destroyCity' city}}type="button" name="button">Destroy City</button>

{{yield}}
