{{#if addNewRental}}
  <h1>New Rental</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="owner">Owner</label>
          {{input value=owner id="owner"}}
        </div>

        <div class="form-group">
          <label for="type">Type</label>
          {{input value=type id="type"}}
        </div>

        <div class="form-group">
          <label for="bedrooms">Number of Bedrooms</label>
          {{input value=bedrooms type="number" id="bedrooms"}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image"}}
        </div>

        <div class="form-group">
          <label for="cost">Cost per night</label>
          {{input value=cost type="number" id="cost"}}
        </div>

        <div class="form-group">
         <label for="latitude">Latitude</label>
         {{input value=latitude id="latitude"}}
       </div>

       <div class="form-group">
         <label for="longitude">Longitude</label>
         {{input value=longitude id="longitude"}}
       </div>

        <button {{action 'save1'}}>Save</button>
      </form>
      <button {{action 'formHide'}} class="hide-form btn btn-warning">Hide</button>
    </div>
{{else}}
    <button class="btn-lg btn-primary" {{action 'rentalFormShow'}}>Add New Rental</button>
{{/if}}
