Located in {{rental.city}}, this {{rental.bedrooms}} bedroom {{rental.type}} is available by arrangement through {{rental.owner}}.
<br>
<p><img src={{rental.image}} alt={{rental.type}} /></p>

<button {{action 'delete' rental}}>Delete</button>
