
{{#if isBigImageShowing}}
  <div class="places col-md-4">
      <img class="images-rentals" src="{{rental.image}}" alt="" {{action 'bigImageHide'}}/>
  </div>
{{else}}
{{#link-to 'rental' rental.id}}
  <div class="places-showing col-md-4">
    <p>
      {{rental.owner}}'s {{rental.type}} in {{rental.city.name}}<br>
      Please click for details!
    </p>
  </div>
{{/link-to}}
{{/if}}
